<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="content-language" content="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=5, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Web resource for Ceria Bank">
    <meta name="keywords" content="bank, ceria, Bank, Ceria">
    <meta name="author" content="Ilya Shepelev">
    <meta name="copyright" content="Ilya Shepelev">
    <meta name="publisher" content="Ilya Shepelev">
    <meta name="robot" content="all">
    <title>Home</title>
    <link rel="stylesheet" href="../assets/stylus/home.css">
    <link rel="stylesheet" href="../assets/stylus/base.css">
    <link rel="stylesheet" href="../assets/stylus/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Roboto&display=swap" rel="stylesheet">
    <script src="../static/scripts/search.js" defer></script>
</head>
<body>
<header class="header">
    <nav class="header__nav">
        <a href="#" class="header__logo" title="Logo"></a>
        <ul class="header__list">
            <li class="header__item header__item_search header__item_hover header__item_focus">
                <button class="header__btn btn search-icon" title="Search"></button>
            </li>
            <li class="header__item header__item_menu-burger header__item_hover header__item_focus dropdown">
                <button class="header__btn btn menu-burger-icon" title="Menu"></button>
                <div class="dropdown__content">
                    <ul class="dropdown__list">
                        <li class="dropdown__item dropdown__item_focus dropdown__item_hover">
                            <span class="dropdown__icon home-icon"></span>
                            <a href="#" class="dropdown__link dropdown__link_hover dropdown__link_focus">Home</a>
                        </li>
                        <li class="dropdown__item dropdown__item_focus dropdown__item_hover">
                            <span class="dropdown__icon money-icon"></span>
                            <a href="#" class="dropdown__link dropdown__link_hover dropdown__link_focus">Credits</a>
                        </li>
                        <li class="dropdown__item dropdown__item_focus dropdown__item_hover">
                            <span class="dropdown__icon pyramid-icon"></span>
                            <a href="#" class="dropdown__link dropdown__link_hover dropdown__link_focus">Deposits</a>
                        </li>
                        <li class="dropdown__item dropdown__item_focus dropdown__item_hover">
                            <span class="dropdown__icon bank-icon"></span>
                            <a href="#" class="dropdown__link dropdown__link_hover dropdown__link_focus">About us</a>
                        </li>
                        <li class="dropdown__item dropdown__item_focus dropdown__item_hover">
                            <span class="dropdown__icon user-icon"></span>
                            <a href="#" class="dropdown__link dropdown__link_hover dropdown__link_focus">Profile</a>
                        </li>
                        <li class="dropdown__item dropdown__item_focus dropdown__item_hover">
                            <span class="dropdown__icon log-out-icon"></span>
                            <a href="#" class="dropdown__link dropdown__link_hover dropdown__link_focus">Log out</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>
<section class="search-backdrop">
    <div class="search-container">
        <form class="search search_hover search_focus" method="">
            <label>
                <input type="search" class="search__input search__input_placeholder-color" placeholder="Search"
                       autofocus>
            </label>
            <button class=" search__btn search__btn_hover search__btn_focus btn btn_background search-wt-icon" title="Search"></button>
        </form>
        <div class="results">
            <ul class="results__list">
                <li class="results__item results__item_hover results__item_focus">
                    <a href="#" class="results__suggestion">Credits</a>
                </li>
                <li class="results__item results__item_hover results__item_focus">
                    <a href="#" class="results__suggestion">Deposits</a>
                </li>
            </ul>
        </div>
    </div>
</section>
</body>
</html>