<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=5, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Web resource for Certia Bank">
  <meta name="author" content="Ilya Shepelev">
  <meta name="copyright" content="Ilya Shepelev">
  <meta name="publisher" content="Ilya Shepelev">
  <meta name="robots" content="all">
  <title>Sign in</title>
  <link rel="stylesheet" href="../assets/stylus/sign-in.css">
  <link rel="stylesheet" href="../assets/stylus/base.css">
  <link rel="stylesheet" href="../assets/stylus/global.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Roboto&display=swap" rel="stylesheet">
  <script src="../static/scripts/showPassword.js" defer></script>
</head>
<body>
  <section class="sign-in">
    <header class="sign-in__header">
      <div class="sign-in__image"></div>
      <h1 class="sign-in__headline">Sign in</h1>
    </header>
    <form class="sign-in__form">
      <div class="sign-in__input-container">
        <label class="sign-in__input-wrap sign-in__input-wrap_underline sign-in__input-wrap_hover sign-in__input-wrap_focus">
          <input type="text" class="sign-in__input" placeholder="Email or telephone">
        </label>
        <label class="sign-in__input-wrap sign-in__input-wrap_password sign-in__input-wrap_hover sign-in__input-wrap_focus">
          <input type="password" class="sign-in__input sign-in__input_password" placeholder="Password">
          <span class="sign-in__show-password"></span>
        </label>
      </div>
      <a href="#" class="sign-in__forgot-password sign-in__forgot-password_hover sign-in__forgot-password_focus">Forgot password?</a>
      <button type="submit" class="sign-in__btn sign-in__btn_hover sign-in__btn_focus">Sign in</button>
    </form>
    <footer class="sign-in__footer">
      <p class="sign-in__footer-content">
        First time with us? <a href="#" class="sign-in__link sign-in__link_hover sign-in__link_focus">Sing up</a>
      </p>
    </footer>
  </section>
</body>
</html>