:where(*) {
  margin: 0
  padding: 0
  box-sizing: border-box
  list-style: none
  outline: none
  text-decoration: none
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: var(--body)
}

::-webkit-scrollbar-track {
  background-color: var(--decorative-color)
  border-radius: 20px
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color)
  border-radius: 20px
}

:root {
  // main colors
  --dark-green: #002B3A
  --accent-color: #1F7A8C
  --decorative-color: #BFDBF7
  --background-gr: #E1E5F2
  --background-wt: #FFFFFF
  --body: #FFFFFF

  // additional color
  --text-color-gr: #CCC
  --text-color-wt: #FFF
  --text-color-black: #000;
  --text-color-dark-gr: #333
  --invalid-color: #E74C3C
  --background-field: #F8F5F5
  --footer-text: #024A65
  --nickel: #707C7E
  --text-color-light-gr: #CBC8C8
  --checkbox-color: #F1F1F1

  // positional variables
  --main-padding: 0 70px
  --padding-input: 10px 15px
  --btn-padding: 20px 40px

  // geometric variables
  --border-radius: 10px
  --input-border-radius: 5px

  // font variables
  --accent-font: "Merriweather Sans", sans-serif
  --roboto: "Roboto", sans-serif
  --small-size: .9375rem // 15px
  --medium-size: 1.25rem // 20px
  --large-size: 2.5rem // 40px

  // elements
  --headings: 4.375rem // 70px
  --subtitle: 1.875rem // 30px

  --search: no-repeat center / 90% url("../../static/icons/search.svg")
  --menu-burger: no-repeat center / 90% url("../../static/icons/menu-burger.svg")
}

[data-theme="dark"] {
  // dark theme colors
  --dark-green: #021c27
  --accent-color: #1a6171
  --decorative-color: #7a8c9e
  --background-gr: #343638
  --background-wt: #212121
  --body: #3a3a3a
  --search: no-repeat center / 90% url("../../static/icons/search-wt.svg")
  --menu-burger: no-repeat center / 90% url("../../static/icons/menu-burger-wt.svg")
}