@import "mixins.styl"

.deposits {
  width: 100%
  height: auto
  padding: var(--main-padding)
  margin-bottom: 126px

  &__header {
    margin: 30px 0
  }

  &__cards {
    display: flex
    gap: 35px
    flex-wrap: wrap
    width: inherit
    height: auto
  }

  &__card {
    display: grid
    grid-template-columns: repeat(2, 1fr)
    place-items: center
    width: 550px
    min-height: 250px
    padding: 30px
    background-color: var(--background-gr)
    border-radius: var(--border-radius)
  }

  &__card-content {
    display: grid
    grid-template-rows: repeat(3, 1fr)
    min-width: 300px
    height: 193px
  }

  &__card-headline {
    font-style(bold, var(--subtitle), var(--accent-font), var(--accent-color))
  }

  &__card-description {
    display: flex
    align-self: start
    justify-content: space-between
    width: inherit
  }

  &__card-description-title {
    font-style(normal, 1rem, var(--accent-font), var(--accent-color))
  }

  &__card-description-subtitle {
    display: block
    font-style(normal, var(--small-size), var(--accent-font), var(--nickel))
  }

  &__card-image {
    width: 120px
    height: 120px

    &.layout-fluid-icon {
      background: no-repeat center/100% url("../../static/icons/layout-fluid.svg")
    }

    &.clock-icon {
      background: no-repeat center/100% url("../../static/icons/clock.svg")
    }

    &.chart-pyramid-icon {
      background: no-repeat center/100% url("../../static/icons/chart-pyramid-gr.svg")
    }

    &.chat-arrow-grow-icon {
      background: no-repeat center/100% url("../../static/icons/chat-arrow-grow.svg")
    }
  }

  &__card-link {
    display: block
    margin-top: 17px
    width: max-content
    padding: 15px 30px
    border: none
    cursor: pointer
    font-style(normal, var(--small-size), var(--accent-font), var(--text-color-wt))
    border-radius: var(--border-radius)
    background-color: var(--accent-color)
  }
}