@import "mixins.styl"

.hero {
  width: 100%
  height: 100%

  .carousel {
    position: relative
    width: inherit
    min-height: 530px
    overflow: hidden

    &__track{
      display: flex
      width: inherit
      height: inherit
      transition: transform .5s linear
    }

    &__slide {
      min-width: 100%;
      height: 465px
      background-color: var(--decorative-color)
    }

    &__slide-content {
      display: flex
      justify-content: space-between
      align-items: center
      margin: 0 70px
      width: auto
      height: 100%
    }

    &__slide-headline {
      display: flex
      flex-direction: column
      font-family: var(--accent-font)
    }

    &__title {
      font-style(bold, var(--large-size), false, var(--accent-color))
    }

    &__subtitle {
      margin-top: 5px
      font-style(normal, var(--subtitle), false, var(--text-color-black))
    }

    &__link {
      position: relative
      width: max-content
      margin-top: 10px
      font-style(normal, var(--medium-size), var(--roboto), var(--accent-color))

      &:before {
        content: ''
        position: absolute
        bottom: 0
        left: 0
        width: 0
        height: 1px
        background-color var(--accent-color)
        transition: width .3s linear
      }

      &:is(&_hover:hover):before {
        width: 100%
      }

      &:after {
        content: ''
        position: absolute
        top: 60%
        right: 0
        transform: translate(160%, -50%)
        width: 14px
        height: 14px
        background: no-repeat center/100% url("../../static/icons/arrow-small-right-gr.svg")
      }
    }

    &__image {
      width: 400px
      height: 400px

      &.european-anglerfish {
        background: no-repeat center/100% url("../../static/images/european-anglerfish.svg")
      }

      &.bedroom {
        background: no-repeat center/100% url("../../static/images/bedroom.svg")
      }

      &.owl {
        background: no-repeat center/70% url("../../static/images/owl.svg")
      }
    }

    &__dots {
      display: flex
      gap: 60px
      position: absolute
      bottom: 0
      left: 50%
      transform: translate(-50%, -36%)
      width: auto
      height: 80px
    }

    &__dot {
      display: flex
      gap: 0 20px
      align-items: center
      width: 270px
      height: inherit
      padding: 20px
      background-color: var(--decorative-color)
      border: solid 2px var(--accent-color)
      border-radius: 5px
      transition: all .3s linear
      cursor: pointer

      &:is(&_hover:hover, &_focus:focus, &_active) {
        background-color: var(--accent-color)
      }

      &:is(&_hover:hover, &_focus:focus, &_active) .carousel__dot-content {
        color: var(--decorative-color)
      }

      &:is(&_hover:hover, &_focus:focus, &_active) .info-icon {
        background: no-repeat center/100% url("../../static/icons/info-bl.svg")
      }

      &:is(&_hover:hover, &_focus:focus, &_active) .smile-icon {
        background: no-repeat center/100% url("../../static/icons/smile-bl.svg")
      }

      &:is(&_hover:hover, &_focus:focus, &_active) .laptop-icon {
        background: no-repeat center/100% url("../../static/icons/laptop-bl.svg")
      }
    }

    &__dot-image {
      width: 50px
      height: 50px

      &.info-icon {
        background: no-repeat center/100% url("../../static/icons/info-gr.svg")
      }

      &.smile-icon {
        background: no-repeat center/100% url("../../static/icons/smile-gr.svg")
      }

      &.laptop-icon {
        background: no-repeat center/100% url("../../static/icons/laptop-gr.svg")
      }
    }

    &__dot-content {
      font-style(normal, var(--small-size), var(--accent-font), var(--accent-color))
    }
  }
}