.search-icon {
  background: no-repeat center / 90% url("../../static/icons/search.svg")
}

.menu-burger-icon {
  background: no-repeat center / 90% url("../../static/icons/menu-burger.svg")
}

.search-wt-icon {
  background: no-repeat center / 60% url("../../static/icons/search-wt.svg")
}

.home-icon {
  background: no-repeat center / 100% url("../../static/icons/home-gr.svg")
}

.money-icon {
  background: no-repeat center / 100% url("../../static/icons/money-gr.svg")
}

.pyramid-icon {
  background: no-repeat center / 100% url("../../static/icons/chart-pyramid-gr.svg")
}

.bank-icon {
  background: no-repeat center / 100% url("../../static/icons/bank-gr.svg")
}

.user-icon {
  background: no-repeat center / 100% url("../../static/icons/user-gr.svg")
}

.log-out-icon {
  background: no-repeat center / 100% url("../../static/icons/log-out-gr.svg")
}

.arrow-small-right-gr {
  background: no-repeat center / 100% url("../../static/icons/arrow-small-right-gr.svg")
}

.info-icon {
  background: no-repeat center / 100% url("../../static/icons/info-gr.svg")
}

.admin-icon {
  background: no-repeat center / 100% url("../../static/icons/admin-gr.svg")
}