@import "mixins.styl"

.profile {
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: repeat(5, max-content)
  gap: 0 50px
  padding: 0 70px
  width: 100%
  height: auto

  &__header {
    grid-column: 1 / 4
    margin: 52px 0 84px
  }
}

.user-card {
  position: relative
  max-width: 590px
  min-height: 320px
  padding: 50px
  background-color: var(--background-wt)
  border: solid 2px var(--accent-color)
  border-radius: var(--border-radius)

  &__avatar {
    position: absolute
    top: 0
    left: 50%
    padding: 20px
    width: max-content
    transform: translate(-50%, -50%)
    border-radius: 50%
    background-color: var(--accent-color)
  }

  &__list {
    display: grid
    gap: 10px 0
    margin-top: 50px
    width: 100%
    height: auto
  }

  &__title {
    font-style(normal, var(--medium-size), var(--accent-font), var(--accent-color))

    &_bold {
      font-style(bold, var(--subtitle), var(--accent-font), var(--accent-color))
    }

    &_red {
      color: var(--invalid-color)
    }
  }

  &__subtitle {
    font-style(normal, var(--small-size), var(--accent-font), var(--decorative-color))
  }
}

.cards {
  grid-column: 2 / 4
  padding: 30px
  width: 100%
  height: auto
  background-color: var(--background-wt)
  border: solid 2px var(--accent-color)
  border-radius: var(--border-radius)

  &__header {
    margin-bottom: 50px
  }

  &__headline {
    font-style(bold, var(--large-size), var(--accent-font), var(--accent-color))
  }

  &__list {
    display: grid
    gap: 30px 0
    width: 100%
    height: auto
  }
}

.card {
  display: grid
  grid-template-columns: 50px auto max-content
  place-items: center start
  gap: 0 20px
  padding: 10px
  width: inherit
  min-height: 60px
  background-color: var(--background-gr)
  border-radius: var(--border-radius)

  &__icon {
    width: 50px
    height: 50px
    background: no-repeat center/60% url("../../static/icons/credit-card.svg") #BFC6DA
    border-radius: var(--border-radius)
  }

  &__type {
    display: flex
    flex-direction: column
    font-style(bold, var(--medium-size), var(--accent-font), var(--accent-color))
  }

  &__number {
    font-style(bold, var(--small-size), var(--accent-font), rgba(0,0,0,.61))
  }

  &__balance {
    font-style(bold, var(--medium-size), var(--accent-font), var(--accent-color))
  }
}

.operation {
  grid-column: 1 / 3
  margin-top: 40px
  width: 100%
  height: auto

  &__header {
    margin-bottom: 30px
  }

  &__headline {
    font-style(bold, var(--large-size), var(--accent-font), var(--decorative-color))
  }

  &__list {
    display: flex
    gap: 0 30px
  }

  &__btn {
    padding: 15px 30px
    width: max-content
    background-color: var(--decorative-color)
    font-style(normal, 1.3rem, var(--roboto), var(--text-color-wt))
    border: none
    border-radius: var(--border-radius)
    cursor: pointer
    transition: background-color .3s linear

    &:is(&_hover:hover, &_focus:focus) {
      background-color: var(--accent-color)
    }
  }
}

.activity {
  grid-column: 1 / 4
  grid-row: 4 / 5
  margin-top: 72px
  width: 100%
  height: auto
  padding: 48px 98px
  background-color: var(--background-wt)
  border: solid 2px var(--accent-color)
  border-radius: var(--border-radius)

  &__header {
    margin-bottom: 20px
    font-style(bold, var(--medium-size), var(--accent-font), var(--accent-color))
  }

  &__table {
    width: inherit
    border-collapse: collapse
  }

  &__table-head {
    border-bottom: 10px solid transparent;
  }

  &__table-row {
    text-align: left
    border-bottom: 10px solid transparent;
    transition: background-color .3s linear

    &_hover:hover {
      background-color: var(--background-gr)
    }

    &:last-child {
      border-bottom: none
    }
  }

  &__table-subtitle {
    font-style(normal, var(--small-size), var(--roboto), var(--decorative-color))
  }

  &__table-data {
    padding: 10px 0
    font-style(normal, var(--small-size), var(--accent-font), var(--dark-green))

    &_accent-color {
      color: var(--accent-color)
    }
  }
}

.feedback {
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  gap: 60px 0
  grid-column: 1 / 4
  grid-row: 5 / 6
  margin: 60px 0
  padding: 70px 0 24px
  background-color: var(--decorative-color)
  width: 100%
  height: auto

  &__content {
    width: max-content
    white-space: pre-line
    font-style(bold, clamp(var(--small-size),calc(var(--medium-size) + 1vh), var(--large-size)), var(--accent-font), var(--text-color-wt))
    text-align: center
  }

  &__link {
    padding: 20px 120px
    font-style(bold, var(--medium-size), var(--accent-font), var(--text-color-wt))
    background-color: var(--accent-color)
    border: none
    border-radius: var(--border-radius)
    transition: box-shadow .3s linear

    &:is(&_hover:hover, &_focus:focus) {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px
    }
  }
}

.transfer {
  padding: 50px

  &__container {
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  }

  &__header {
    margin-bottom: 43px
  }

  &__headline {
    font-style(bold, var(--subtitle), var(--accent-font), var(--accent-color))
  }

  &__list {
    display: flex
    gap: 0 80px
  }

  &__item {
    display: grid
    place-items: center
    width: max-content
    height: auto
    cursor: pointer
  }

  &__icon {
    width: 60px
    height: 60px
    border-radius: 50%

    &_active {
      &.phone-icon {
        background: no-repeat center/50% url("../../static/icons/phone-call-wt.svg")  var(--decorative-color)
      }
      &.card-icon {
        background: no-repeat center/50% url("../../static/icons/credit-card-wt.svg")  var(--decorative-color)
      }
    }

    &:not(&_active) {
      &.phone-icon {
        background: no-repeat center/50% url("../../static/icons/phone-call-gr.svg")
      }
      &.card-icon {
        background: no-repeat center/50% url("../../static/icons/credit-card-gr.svg")
      }
    }
  }

  &__subtitle {
    font-style(normal, var(--small-size), var(--roboto), var(--accent-color))
  }

  &__form {
    display: flex
    flex-direction: column
    gap: 30px 0
    margin-top: 40px
    width: 100%
  }

  &__input {
    padding: 15px 20px
    width: 100%
    border: none
    background-color: var(--background-field)
    border-radius: var(--input-border-radius)
    transition: box-shadow .3s linear
    font-style(bold, 1rem, var(--roboto), var(--accent-color))

    &:is(&_hover:hover, &_focus:focus) {
      box-shadow: 0 0 0 2px var(--accent-color)
    }
  }

  &__btn {
    align-self: center
    padding: 15px 35px
    width: max-content
    border: none
    border-radius: 5px
    font-style(normal, 1.3rem, var(--roboto), var(--text-color-wt))
    background-color: var(--decorative-color)
    transition: background-color .3s linear
    cursor: pointer

    &:is(&_hover:hover, &_focus:focus) {
      background-color: var(--accent-color)
    }
  }
}

.reference-modal {

  &__container {
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, max-content)
    gap: 40px 0
    align-items: center
    padding: 30px
    width: 100%
  }

  &__header {
    grid-column: 1 / 3
    justify-self: center
  }

  &__headline {
    font-style(bold, var(--subtitle), var(--accent-font), var(--accent-color))
  }

  &__list {
    display: grid
    gap: 20px 0
  }

  &__subtitle {
    font-style(normal, var(--medium-size), var(--accent-font), var(--text-color-black))

    &_accent-color {
      color: var(--accent-color)
    }
  }

  &__time {
    font-style(normal, var(--small-size), var(--accent-font), var(--accent-color))
  }

  &__image {
    grid-column: 2 / 3
    justify-self: end
    width: 200px
    height: 200px

    &.check {
      background: no-repeat center / 100% url("../../static/icons/comment-check.svg")
    }
  }
}

.info-modal {

  &__image {
    position: absolute
    top: 0
    right: 0
    transform: translate(0, -30px) rotate(-30deg)
    width: 200px
    height: 200px
    background: no-repeat center / 100% url("../../static/icons/comment-check.svg")
  }

  &__container {
    display: grid
    grid-template-rows: repeat(3, max-content)
    gap: 40px 0
    align-items: center
    padding: 30px
    width: 100%
    height: 100%
  }

  &__header {
    display: flex
    justify-content: center
  }

  &__headline {
    font-style(bold, var(--subtitle), var(--accent-font), var(--accent-color))
  }

  &__list {
    display: grid
    gap: 20px 0
  }

  &__subtitle {
    font-style(normal, var(--medium-size), var(--accent-font), var(--text-color-black))
  }

  &__time {
    font-style(normal, var(--small-size), var(--accent-font), var(--accent-color))
  }

  &__status {
    font-style(normal, var(--medium-size), var(--accent-font), var(--text-color-black))

    &_accent-color {
      color: var(--accent-color)
    }
  }

  &__type {
    font-style(normal, var(--medium-size), var(--accent-font), var(--text-color-black))

    &_accent-color {
      color: var(--accent-color)
    }
  }

  &__repay {
    justify-self: center
    padding: 15px 30px
    width: max-content
    background-color: transparent
    border-radius: 5px
    font-style(normal, var(--small-size), var(--accent-font), var(--accent-color))
    border: solid 1.5px var(--accent-color)
    transition: all .3s linear
    cursor: pointer

    &:is(&_hover:hover, &_focus:focus) {
      background-color: var(--accent-color)
      color: var(--text-color-wt)
    }
  }
}

.transfer-modal {

  &__container {
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 30px
    width: 100%
    height: auto
  }

  &__header {
    margin-bottom: 60px
  }

  &__headline {
    font-style(bold, var(--subtitle), var(--accent-font), var(--accent-color))
  }

  &__form {
    display: grid
    gap: 20px 0
    width: 100%
  }

  &__input {
    width: 100%
    padding: 10px 15px
    border: none
    background-color: var(--background-field)
    font-style(normal, var(--small-size), var(--roboto), var(--accent-color))
    border-radius: 5px
    transition: box-shadow .3s linear

    &:is(&_hover:hover, &_focus:focus) {
      box-shadow: 0 0 0 2px var(--accent-color)
    }
  }

  &__btn {
    padding: 15px 30px
    width: max-content
    justify-self: center
    border-radius: 5px
    border: none
    font-style(normal, var(--small-size), var(--roboto), var(--text-color-wt))
    background-color: var(--decorative-color)
    transition: background-color .3s linear
    cursor: pointer

    &:is(&_hover:hover, &_focus:focus) {
      background-color: var(--accent-color)
    }
  }
}